@font-face {
    font-family: 'icomoon';
    src: url('../../fonts/icomoon.eot');
    src: url('../../fonts/icomoon.eot?jpzchj#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?jpzchj') format('truetype'),
        url('../../fonts/icomoon.woff?jpzchj') format('woff'),
        url('../../fonts/icomoon.svg?jpzchj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.header {
    height: 80px;
    background-color: pink;
    color: black;
}

.ant-table-pagination.ant-pagination {
    margin: 16px 0;
    text-align: center;
    display: block;
}

/* 表格字体大小 */
.ant-table {
    font-size: 16px;
}

/* 底部页码样式 */
.ant-pagination-item {
    border-radius: 50% !important;
    background-color: #303030 !important;
    color: #E3E3E3;
    border: none !important;
}

.ant-pagination-item a {
    color: #E3E3E3 !important;
}

.ant-pagination-item-ellipsis {
    color: rgb(255 255 255 / 25%) !important;
}


.ant-pagination-item-link[type="button"] {
    background-color: #303030 !important;
    border: 1px solid #303030 !important;
    color: #E3E3E3 !important;
}

.ant-pagination-item-link[type="button"]:hover {
    border: 1px solid #E3E3E3 !important;
    transition: all .3;
}


.ant-select-selector {
    background-color: #303030 !important;
    color: #E3E3E3 !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid #303030 !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
    border: 1px solid #E3E3E3 !important;
}

.ant-select-dropdown {
    background-color: #303030 !important;
}

.ant-select-item-option-selected {
    background-color: #fff !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: transparent !important;
}

.rc-virtual-list-holder-inner {
    color: #fff !important;
}

.rc-virtual-list-holder-inner div:hover {
    background-color: #f5f5f5 !important;
}

/* 选中的页码样式 */
.ant-pagination-item-active {
    font-weight: 600;
    border: 1px solid #f0e7e7 !important;
}

/* 表头的样式 */
.ant-table-thead>tr>th {
    color: #E3E3E3 !important;
    text-align: center !important;
    background: #303030 !important;
    border-bottom: 1px solid #303030 !important;
}

/* 数据表格样式 */
.ant-table-tbody>tr>td {
    text-align: center !important;
    color: #E3E3E3 !important;
    background-color: #1F1F1F !important;
    border-bottom: 1px solid #2b2929 !important;
}


.ant-table {
    margin-top: 50px !important;
}

/* 背景样式 */
body {
    background-color: #000 !important;
}

/* 下拉框上面的样式*/
.ant-table-thead tr {
    position: relative;
}

thead th:nth-child(5)::after {
    font-family: 'icomoon';
    content: '';
    margin-left: 50px;
    font-size: 16px;
    cursor: pointer;
}

/* 箭头向下的样式 */
data-down {
    font-family: 'icomoon';
    content: attr('');
}

/* 下拉框样式 */
.wrongInform {
    position: absolute;
    top: 60px;
    right: 152px;
    padding: 10px;
    min-width: 210px;
    max-width: 220px;
    border-radius: 5px;
    list-style: none;
    color: #fff;
    background-color: #303030;
    z-index: 999;
}

.wrongInform li {
    height: 40px;
    line-height: 40px;
    text-indent: 1em;
    margin-bottom: 5px;
    border-radius: 8px;
    color: #999999;
    text-align: center;
}

.wrongInform li:hover {
    background-color: #616161;
    color: #E3E3E3;
    cursor: pointer;
}

.noHover {
    /* display: none; */
}