#ana-history{
<<<<<<< HEAD
    
    padding-left: 16px;
    padding-top: 10px;
     overflow-y: auto;
    overflow-x: hidden;
}

#ana-history p:nth-child(1){
    font-size: 20px;
    color: #03DAC5;
=======
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 610px;
    padding-left: 16px;
    padding-top: 10px;
}

#ana-history div:nth-child(1) p:nth-child(1){
    font-size: 20px;
    color: var(--titleColor);
>>>>>>> 909892b1b180361ac26c62fe532772ff25415da9
}
#ana-history p{
    margin-bottom: 6px;
}
<<<<<<< HEAD
#ana-history p:nth-child(2){
    font-size: 16px;
    color: white;
}
#ana-history p:nth-child(4){
    margin-top: 14px;
    font-size:  16px;
    color: #03DAC5; 
}
#ana-history p:nth-child(6){
    font-size:  16px;
    color: #03DAC5; 
=======
#ana-history div:nth-child(1) p:nth-child(2){
    font-size: 16px;
    color: var(--tableText);
    margin-bottom: 10px;
}
#ana-history div:nth-child(2) p{
    margin-top: 14px;
    font-size:  16px;
    color: var(--titleColor); 
}
#ana-history div:nth-child(3) p{
    font-size:  16px;
    color: var(--titleColor); 
}

@media screen and (min-height: 800px) {
    #box1{
        height: 240px;
    }
    #box2{
        height: 320px;
    }
>>>>>>> 909892b1b180361ac26c62fe532772ff25415da9
}