#ana-history{
    
    padding-left: 16px;
    padding-top: 10px;
     overflow-y: auto;
    overflow-x: hidden;
}

#ana-history p:nth-child(1){
    font-size: 20px;
    color: #03DAC5;
}
#ana-history p{
    margin-bottom: 6px;
}
#ana-history p:nth-child(2){
    font-size: 16px;
    color: white;
}
#ana-history p:nth-child(4){
    margin-top: 14px;
    font-size:  16px;
    color: #03DAC5; 
}
#ana-history p:nth-child(6){
    font-size:  16px;
    color: #03DAC5; 
}