#carController {
    position: relative;
    width: 99%;
    height: 45px;
    border-radius: 6px;
    padding: 10px 14px 12px 15px;
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    text-align: left;
}

#carName {
    margin-right: 15px;
}

#pathDate {
    font-size: 15px;
    font-weight: 400;
}

.deleteBtn {
    position: absolute;
    right: 11px;
    top: 10px;
    cursor: pointer;
}

.deleteBtn path {
    cursor: pointer;
}