.g2-tooltip{
    background-color:var(--ltBack)!important;
}
.g2-tooltip-title{
    color: var(--themeColor)!important;
    font-size: 14px;
    font-weight: bold;
}
.g2-tooltip-marker{
    background: var(--themeColor)!important;
}
.g2-tooltip-name{
    color: var(--themeColor);
}
.g2-tooltip-value{
    color: var(--text);
    margin-left: 6px!important;
}
.ant-select{
    position: absolute;

    z-index: 100;
    top: 90px;
    right: -50px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background-color: var(--deepBack);
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover{
    border: 1px solid var(--themeColor) ;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector:active{
    border: 1px solid var(--themeColor)!important ;

}
.ant-select-selection-item{
    color: var(--text);
}
.ant-select-dropdown{
    background-color: var(--ltBack);
    box-shadow: 0 0 2px var(--text);
}
.ant-select-item-option-active{
    color: var(--ltBack)!important;
    background-color: var(--themeColor)!important;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled){
    background-color:var(--themeColor);
    color: var(--ltBack)!important;
}
.ant-select-item-option-content{
    color: var(--text);
}
.ant-select-item-option-active .ant-select-item-option-content{
    color: var(--ltBack);
}
.ant-select-item-option-selected .ant-select-item-option-content{
    color: var(--ltBack);
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-color: var(--themeColor)!important;
}