<<<<<<< HEAD
:root{
  --themeColor:#03DAC5;/* 主题色 */
  --text:white;    /* 正文 */
  --hoverBtn:#6a6a6a;/* 按钮悬浮 */
  --grayText: #999;/* 灰色文本 */
  --deepBack:#292929;/* 与导航栏一样的深色背景 */
  --ltBack:#303030;/* 侧栏稍微浅色的背景 */
}

*{
=======
* {
>>>>>>> 909892b1b180361ac26c62fe532772ff25415da9
  margin: 0;
  padding: 0;
  transition: color 0.2s ease-out,background-color 0.2s ease-out;
  
}
.amap-logo {
  right: 0 !important;
  left: auto !important;
  display: none !important;
}

.amap-copyright {
  right: 70px !important;
  left: auto !important;
  opacity:0 !important;
}
html {
  overflow-y: overlay;
}
:root {
  --themeColor: #03DAC5;
  --titleColor:#03DAC5;
  --btnAct:black;
  /* 主题色 */
  --text: rgba(255,255,255,0.87);
  --ltText:rgba(255,255,255,0.38);
  /* 正文 */
  --hoverBtn: #6a6a6a;
  /* 按钮悬浮 */
  --deepGrey: #4d4c4c;
  --grayText: #999;
  /* 灰色文本 */
  --deepBack: #292929;
  /* 与导航栏一样的深色背景 */
  --ltBack: #303030;
  /* 侧栏稍微浅色的背景 */
  --bodyColor: black;
  /* 黑色都改成这个 */
  --tableText: rgba(255,255,255,0.6);
  /* 下面几个是表格的 */
  --table-head:#303030;
  --tableBack: #1f1f1f;
  --activeTabBtn: #f0e7e7;
  --tabHover: #f5f5f5;
  --listActText:rgba(255,255,255,0.87);
  --reserveBg:white;
}

#wrapper {
  width: 100vw;
  height: 100vh;

}

#header-ct {
  height: 50px;
  width: 100vw;
  min-width: 766px;
  position: relative;
  z-index: 100;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: var(--deepBack);
}

#header {
  height: 50px;
  width: 52%;
  margin-left: 22%;
  display: flex;
  transition: 0.2s all;
  justify-content: space-between;
}

#header a {
  min-width: 110px;
  font-size: 16px;
}

#logo{
  display: block;
  width: 130px;
  height: 50px;
  color: var(--text);
  user-select: none;
  line-height: 50px;
  text-align: center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-image: url(./images/logo.png);
  background-position: center;
}

.noActive {
  width: 130px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: var(--grayText);
  user-select: none;
  text-decoration: none;
}
#theme-change{
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s all;
  position: absolute;
  right: 0;
}
/* .noActive::before {
  content: '';
  display: inline-block;
  position: relative;
  left: -6px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
} */

/* .noActive:nth-child(2):before {
  top: 8px;
  background-image: url(./images/heatmap1.svg);
}

.noActive:nth-child(3):before {
  top: 6px;
  background-image: url(./images/require1.svg);
}

.noActive:nth-child(4):before {
  top: 6px;
  background-image: url(./images/path1.svg);
}

.noActive:nth-child(5):before {
  top: 6px;
  background-image: url(./images/abnormal1.svg);
}

.noActive:nth-child(6):before {
  top: 5px;
  background-image: url(./images/advertise1.svg);
} */

.noActive:hover {
  color: var(--titleColor);
}

.onActive {
  color: var(--titleColor);
  background-color: var(--btnAct);
}

/* .onActive:nth-child(2):before {
  top: 8px;
  background-image: url(./images/heatmap2.svg);
}

.onActive:nth-child(3):before {
  top: 6px;
  background-image: url(./images/require2.svg);
}

.onActive:nth-child(4):before {
  top: 6px;
  background-image: url(./images/path2.svg);
}

.onActive:nth-child(5):before {
  top: 6px;
  background-image: url(./images/abnormal2.svg);
}

.onActive:nth-child(6):before {
  top: 5px;
  background-image: url(./images/advertise2.svg);
}

.noActive:nth-child(2):hover.noActive:nth-child(2):before {
  background-image: url(./images/heatmap2.svg);
}

.noActive:nth-child(3):hover.noActive:nth-child(3):before {
  top: 6px;
  background-image: url(./images/require2.svg);
}

.noActive:nth-child(4):hover.noActive:nth-child(4):before {
  top: 6px;
  background-image: url(./images/path2.svg);
}

.noActive:nth-child(5):hover.noActive:nth-child(5):before {
  top: 6px;
  background-image: url(./images/abnormal2.svg);
}

.noActive:nth-child(6):hover.noActive:nth-child(6):before {
  top: 5px;
  background-image: url(./images/advertise2.svg);
} */

#main {
  justify-content: center;
  /* align-items: center; */
  min-height: calc(100% - 50px);
  height: 600px;
  width: 100%;
  display: flex;
}

.map-ct {
  height: 100%;
  width: 100%;
  display: flex;
<<<<<<< HEAD

}
<<<<<<< HEAD
#heat-section{
  width: 20%;
  height: 100%;
  min-width: 308px;
  background-color: #303030;
}

#time-ct{
  width: 84%;
  height: 120px;
  margin-left: 8%;
=======
>>>>>>> 909892b1b180361ac26c62fe532772ff25415da9
}

@media screen and (max-width:960px) {
  #header {

<<<<<<< HEAD
  font-size: 14px;
}
#time-ct p:nth-child(2){
  color: white;
}
#time-ct p:nth-child(1){
  color: #03DAC5;
  font-size: 20px;
  
  margin-top: 1em;
}
=======
>>>>>>> a33f9399539fea4e469f29fe45a8e30a48c002f5
=======
    margin-left: 0;
  }
}
>>>>>>> 909892b1b180361ac26c62fe532772ff25415da9
