:root{
  --themeColor:#03DAC5;/* 主题色 */
  --text:white;    /* 正文 */
  --hoverBtn:#6a6a6a;/* 按钮悬浮 */
  --grayText: #999;/* 灰色文本 */
  --deepBack:#292929;/* 与导航栏一样的深色背景 */
  --ltBack:#303030;/* 侧栏稍微浅色的背景 */
}

*{
  margin: 0;
  padding:0;
}
#wrapper{
  width: 100vw;
  height: 100vh;
  min-width: 1200px;
}
#header-ct{
  height: 50px;
  width: 100vw;
  min-width: 1200px;
  background-color: #292929;
}
#header{
  height: 50px;
  width: 52%;
  margin-left: 22%;
  display: flex;
  min-width: 800px;
  justify-content: space-between;
}
#logo{
  width: 130px;
  height: 50px;
  color: white;
  user-select: none;
  line-height: 50px;
  text-align: center;
}

.noActive{
  width: 130px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #999;
  user-select: none;
  text-decoration: none;
}
.noActive::before{
  content: '';
  display: inline-block;
  position: relative;
  left: -6px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.noActive:nth-child(2):before{
  top: 8px;
  background-image: url(./images/heatmap1.svg);
}
.noActive:nth-child(3):before{
  top: 6px;
  background-image: url(./images/require1.svg);
}
.noActive:nth-child(4):before{
  top: 6px;
  background-image: url(./images/path1.svg);
}
.noActive:nth-child(5):before{
  top: 6px;
  background-image: url(./images/abnormal1.svg);
}
.noActive:nth-child(6):before{
  top: 5px;
  background-image: url(./images/advertise1.svg);
}
.noActive:hover{
  color: #03DAC5;
  background-color: #6a6a6a;
}
.onActive{
  color: #03DAC5;
  background-color: #6a6a6a;
}
.onActive:nth-child(2):before{
  top: 8px;
  background-image: url(./images/heatmap2.svg);
}
.onActive:nth-child(3):before{
  top: 6px;
  background-image: url(./images/require2.svg);
}
.onActive:nth-child(4):before{
  top: 6px;
  background-image: url(./images/path2.svg);
}
.onActive:nth-child(5):before{
  top: 6px;
  background-image: url(./images/abnormal2.svg);
}
.onActive:nth-child(6):before{
  top: 5px;
  background-image: url(./images/advertise2.svg);
}

.noActive:nth-child(2):hover.noActive:nth-child(2):before{
  background-image: url(./images/heatmap2.svg);
}
.noActive:nth-child(3):hover.noActive:nth-child(3):before{
  top: 6px;
  background-image: url(./images/require2.svg);
}
.noActive:nth-child(4):hover.noActive:nth-child(4):before{
  top: 6px;
  background-image: url(./images/path2.svg);
}
.noActive:nth-child(5):hover.noActive:nth-child(5):before{
  top: 6px;
  background-image: url(./images/abnormal2.svg);
}
.noActive:nth-child(6):hover.noActive:nth-child(6):before{
  top: 5px;
  background-image: url(./images/advertise2.svg);
}

#main{
  min-height: calc(100% - 50px);
  height: 600px;
  width: 100%;
  display: flex;
}
.map-ct{
  height: 100%;
  width: 100%;
  display: flex;

}
<<<<<<< HEAD
#heat-section{
  width: 20%;
  height: 100%;
  min-width: 308px;
  background-color: #303030;
}

#time-ct{
  width: 84%;
  height: 120px;
  margin-left: 8%;
}

#time-ct p:nth-child(4){
  color: #03DAC5;
  margin-top: 1em;
  font-size: 18px;
}
#time-ct p:nth-child(4) span{
  color: white;

  font-size: 14px;
}
#time-ct p:nth-child(2){
  color: white;
}
#time-ct p:nth-child(1){
  color: #03DAC5;
  font-size: 20px;
  
  margin-top: 1em;
}
=======
>>>>>>> a33f9399539fea4e469f29fe45a8e30a48c002f5
