*{
  margin: 0;
  padding:0;
}
#wrapper{
  width: 100vw;
  height: 100vh;
}
#header-ct{
  height: 50px;
  width: 100vw;
  min-width: 1200px;
  background-color: #292929;
}
#header{
  height: 50px;
  width: 52%;
  margin-left: 22%;
  display: flex;
  min-width: 800px;
  justify-content: space-between;
}
#logo{
  width: 130px;
  height: 50px;
  color: white;
  user-select: none;
  line-height: 50px;
  text-align: center;
}


.noActive{
  width: 130px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #999;
  user-select: none;
  text-decoration: none;
}
.noActive:hover,#graph-ct:hover{
  color: #03DAC5;
  background-color: #6a6a6a;
}
.onActive,.active{
  color: #03DAC5;
  background-color: #6a6a6a;
}
#main{
  min-height: calc(100% - 50px);
  height: 600px;
  width: 100%;
  display: flex;
}
.map-ct{
  height: 100%;
  width: 100%;
  display: flex;

}
#heat-section{
  width: 20%;
  height: 100%;
  min-width: 308px;
  background-color: #303030;
}
