#control {
    float: left;
    width: 384px;
    height: 100%;
    background-color: rgba(0, 0, 0, .8) ;
    padding: 50px 15px 0 38px;
}
.amap-container{
    width: calc(100% - 384px)!important;
}
#findCar {
    width: 285px;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    font-family: Microsoft YaHei;
    color: #999999 !important;
    background-color: #616161;
    padding-left: 50px;
    outline: none;
    border: none;
    border-radius: 6px;
    margin-bottom: 26px;
    transition: .4s;
    cursor: text;
}

#findCar:focus {
    background-color: #4d4c4c;
}

#findCar::placeholder {
    color: #999999;
}

#findInput{
    position: relative;
}

#firstName {
    display: inline-block;
    position: absolute;
    height: 40px;
    font-size: 18px;
    padding: 7px 0px 0px 15px;
    color: #fff;
}

#findBtn {
    display: inline-block;
    width: 119px;
    height: 34px;
    background-color: #616161;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    color: #03DAC5;
    line-height: 32px;
    margin-left: 21px;
    cursor: pointer;
    transition: .4s;
}

#findBtn:hover {
    background-color: #4d4c4c;
}